In [3]:
import pandas as pd

In [4]:
df = pd.read_excel('globalterrorismdb_0522dist.xlsx')
df = df[[
    "eventid",
    "iyear",
    "imonth",
    "iday",
    "country_txt",
    "region_txt",
    "city",
    "latitude",
    "longitude",
    "summary",
    "doubtterr",
    "success",
    "suicide",
    "attacktype1_txt",
    "attacktype2_txt",
    "attacktype3_txt",
    "targtype1_txt",
    "targsubtype1_txt",
    "target1",
    "targtype2_txt",
    "targsubtype2_txt",
    "target2",
    "gname",
    "nkill",
    "nwound",
    "propextent_txt",
    "scite1",
    "scite2",
    "scite3"
]]

In [5]:
df.isna().sum()

eventid                  0
iyear                    0
imonth                   0
iday                     0
country_txt              0
region_txt               0
city                   426
latitude              4691
longitude             4692
summary              66120
doubtterr                0
success                  0
suicide                  0
attacktype1_txt          0
attacktype2_txt     201272
attacktype3_txt     209048
targtype1_txt            0
targsubtype1_txt     11839
target1                635
targtype2_txt       195171
targsubtype2_txt    195703
target2             195296
gname                    0
nkill                12527
nwound               19936
propextent_txt      136242
scite1               66182
scite2              116963
scite3              157030
dtype: int64

In [6]:
df.drop(["attacktype2_txt", "attacktype3_txt", "targtype2_txt", "targsubtype2_txt", "target2", "scite3"], axis="columns", inplace=True)
# could have used 'thresh=' argument to drop columns that contain over 150k null values

In [7]:
len(df[df["region_txt"] == "Middle East & North Africa"])

58252

In [27]:
len(df[df["country_txt"] == "United Arab Emirates"])

22

In [21]:
len(df[(df["country_txt"] == "United Arab Emirates") | (df["country_txt"] == "Saudi Arabia")])

604

In [28]:
len(df[df["city"] == "Dubai"])

7